@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
:root {
  --clr-oxford-blue: hsla(212, 100%, 17%, 1);
  --clr-oxford-blue-3: hsla(219, 100%, 10%, 1);
  --clr-delft-blue: hsla(220, 29%, 28%, 1);
  --clr-slate-gray: hsla(222, 11%, 54%, 1);
  --clr-cherry-blossom-pink: hsla(345, 100%, 85%, 1);
  --clr-bakermiller-pink: hsla(345, 100%, 78%, 1);
  --clr-russian-violet: hsla(255, 45%, 18%, 1);
  --clr-lilac: hsla(292, 28%, 68%, 1);
  --clr-cornsilk: hsla(52, 94%, 94%, 1);
  --clr-earth-yellow: hsla(32, 65%, 62%, 1);
  --clr-tigers-eye: hsla(28, 67%, 44%, 1);
}
body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  /* position: relative; */
}
.header-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}
.title {
  font-size: 50px;
  font-weight: 600;
  margin-right: 7rem;
}
.fa-solid.fa-desktop {
  font-size: 2rem;
  color: dodgerblue;
  border-right: 1px solid rgb(129, 127, 127);
  padding-right: 1.5rem;
  margin-left: 8rem;
  cursor: pointer;
}
.fa-solid.fa-mobile-screen {
  font-size: 2rem;
  margin-left: -2rem;
  cursor: pointer;
}
.fa-solid.fa-mobile-screen:hover {
  color: dodgerblue;
  cursor: pointer;
}
.title-text {
  font-size: 19px;
  color: var(--clr-slate-gray);
}
.title-description {
  text-decoration: underline;
  color: var(--clr-slate-gray);
}
.title-description:hover {
  color: dodgerblue;
  cursor: pointer;
}
.edit-page {
  padding: 1rem 2.5rem;
  background-color: #116dff;
  border-radius: 25px;
  color: #fff;
  border: none;
}
.edit-page:hover {
  cursor: pointer;
  background-color: dodgerblue;
}
.header-two {
  display: flex;
  align-items: center;
  padding-top: 0.4rem;
  padding-bottom: 1rem;
  background-color: rgb(238, 227, 227);
}
.animal-img-container {
  width: 5%;
  margin-left: 10rem;
}
.animal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  color: rgb(255, 69, 0);
  margin-left: 5px;
}
.header-two-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.reference-container {
  display: flex;
  gap: 3rem;
  position: sticky;
  margin-left: 20rem;
}
.ref-one {
  font-size: 18px;
  cursor: pointer;
}
.ref {
  font-size: 18px;
  color: orangered;
}
.ref:hover {
  font-size: 18px;
  color: black;
  cursor: pointer;
}
.hero-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cat-img {
  margin-left: 10rem;
  width: 25%;
  cursor: pointer;
}
.quote-container {
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: relative;
}
.dotted {
  border: 3px dotted orangered;
  width: 100%;
}
.greater-symbol {
  width: 35%;
  position: absolute;
  right: 8rem;
  bottom: -50px;
  border-radius: 50%;
  background-color: #fff;
}
.greater-symbol:hover {
  background-color: rgb(245, 135, 95);
  cursor: pointer;
}
h1.quote {
  font-weight: 900;
  font-size: 4rem;
}
h3.quote {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: -3rem;
  margin-bottom: 4rem;
}
.chat-box {
  border: 1px solid orangered;
  padding: 1rem 2.5rem;
  background-color: orangered;
  color: #fff;
  display: inline-block;
  width: 15%;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
}
.smiley {
  width: 20%;
  background: #fff;
  border-radius: 50%;
}
.text {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}
.animals-container {
  margin-left: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.heading {
  font-size: 3rem;
  font-weight: 300;
  color: orangered;
  margin-bottom: 1.5rem;
}
.paragraph {
  font-size: 16px;
  width: 50%;
  border-right: 3px dotted orangered;
  padding-right: 2rem;
}
.dogs-image {
  margin-right: 10rem;
}
.dogs {
  width: 20%;
}
.dog-three {
  width: 10%;
}
.dog-section{
  display: flex;
  margin-top: 1.5rem;
}
.star{
  width: 3%;
}
.dogs-adoption{
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: orangered;
  margin-left: 1rem;
}
